<nav class="flex px-5 py-3 justify-between text-gray-800 w-100 shadow">
    <div class="flex flex-col gap-y-1 items-center">
        <p class="font-bold text-lg my-0 py-0">Quick Assign</p>
    </div>

    <ul class="flex">
        <li class="px-3 py-1 cursor-pointer hover:bg-cyan-200 rounded-md text-gray-800 flex items-center">
            <a routerLink="/Home" routerLinkActive="active" class="text-base font-medium">Home</a>
        </li>
        <li class="px-3 py-1 cursor-pointer hover:bg-cyan-200 rounded-md text-gray-800 flex items-center">
            <a routerLink="/Your-Team" class="text-base font-medium">Your Team</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>  