<section class="my-2 flex flex-col p-5 py-3">

    <div class="my-1">
        <app-go-back-button></app-go-back-button>
    </div>

    <h1 class="my-2 text-black font-bold lg:text-2xl text-lg capitalize">{{this.modeSelected?.name}}</h1>
    <p class="lg:text-lg text-base lg:w-4/5">
        {{this.modeSelected?.description}}
    </p>

    <!-- form -->
    <form #teamInfo="ngForm" class="flex flex-col gap-y-3 my-2">
        <!-- team name -->
        <div *ngIf="isSmartMode" class="pr-2 flex flex-col gap-2 w-1/2">
            <label for="teamName" class="lg:text-lg text-base">Team Name</label>
            <input class="input_box" name="teamName" spellcheck="false" [(ngModel)]="myTeamInfo.teamName" #Name="ngModel" ngModel id="teamName" type="text" required placeholder="ABC Team">
        </div>

        <!-- team member name and role-->
        <div class="w-100 grid lg:grid-cols-3 my-2">
            <div class="pr-2 flex flex-col gap-2 w-4/5">
                <label for="Name" class="lg:text-lg text-base">Member Name</label>
                <input class="input_box" name="Name" spellcheck="false" [(ngModel)]="teamMember.Name" #Name="ngModel" ngModel id="Name" type="text" required placeholder="John doe">
            </div>

            <!-- role dropdown -->
            <div *ngIf="isSmartMode" class="flex flex-col gap-y-2 w-4/5">
                <label for="role" class="lg:text-lg text-base">Member Role</label>
                <select id="role" class="input_box capitalize" name="Role" [(ngModel)]="teamMember.Role" #Role="ngModel" ngModel>
                    <option class="capitalize" *ngFor="let role of this.roleDropdown" value="{{role.id}}">{{role.name}}</option>
                </select>
            </div>
            
            <!-- working hours -->
            <div *ngIf="isSmartMode" class="flex flex-col gap-y-2 w-3/5">
                <label for="workingHrs" class="lg:text-lg text-base">Total Working Hours</label>
                <input class="input_box w-100" name="WorkingHours" spellcheck="false" [(ngModel)]="teamMember.WorkingHours" #Name="ngModel" ngModel id="workingHrs" type="number" required placeholder="In Hours">
            </div>
        </div>

        <!-- save button for simple mode only -->
        <div class="">
            <button type="button" (click)="addTeamMember()" class="flex place-items-end gap-2 text-white bg-blue-700 hover:bg-blue-800 font-medium rounded text-sm px-5 py-2">
                Save
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
            </button>
        </div>
    </form>

    <!-- Area to display teammembers name -->
    <span class="border border-gray-400 mt-4 mb-2"></span>
    <div *ngIf="showTeammembersDetails" class="flex flex-col p-3 my-4 bg-cyan-200 rounded w-100 h-100">
        <div class="flex gap-x-3 items-center">
            <h2 class="my-3 text-gray-800 text-lg font-semibold">
                Added Teammates
            </h2>
            <p class="text-lg text-gray-800 font-semibold">
                ( {{this.myTeamInfo.members.length}} )
            </p>
        </div>
        <ul class="grid lg:grid-cols-5 grid-cols-1 gap-3">
            <li *ngFor="let member of this.myTeamInfo.members" class="flex justify-between items-start gap-x-2 px-4 py-1.5 rounded shadow-sm bg-gray-200 w-100">
                <div class="flex flex-col gap-y-1">
                    <h1 class="text-gray-800 text-base font-semibold capitalize">{{member.Name}}</h1>
                    <p *ngIf="isSmartMode" class="text-gray-700 text-base capitalize">{{member.Role?.name}}</p>
                </div>
                
                <button (click)="deleteTeamMember(member.id)" class="py-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m20.25 7.5-.625 10.632a2.25 2.25 0 0 1-2.247 2.118H6.622a2.25 2.25 0 0 1-2.247-2.118L3.75 7.5m6 4.125 2.25 2.25m0 0 2.25 2.25M12 13.875l2.25-2.25M12 13.875l-2.25 2.25M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z" />
                    </svg>
                </button>  
            </li>
        </ul>
    </div>

    <!-- assign task button -->
    <div class="flex justify-center my-3">
        <button (click)="handleAssignTasks()" type="button" class="bg-blue-700 hover:bg-blue-800 rounded-lg px-5 py-2.5 me-2 mb-2 flex gap-x-2 text-white font-medium text-sm">
            Start Assigning 
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
            </svg>
        </button>
    </div>

</section>
